<h2><%= @messages.title %></h2>

<%= simple_format @messages.content %>

<h2>Comments list</h2>

<%= form_for [@messages, @comment] do |f| %>
<p>
  <%= f.label :content %>
  <%= f.text_area :content, :required => true %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>
<% @messages.comments.each do |comment| %>
  <p><%= simple_format comment.content %> at <%= comment.created_at.to_s(:short) %> by <%= comment.user.display_name %></p>
<% end %>
<%= link_to 'Back to index', messages_path %>