<h2><%= @message.title %></h2>

<%= simple_format @message.content %>

<h2>Comments list</h2>

<%= form_for [@message, @comment] do |f| %>
<p>
  <%= f.label :content %>
  <%= f.text_area :content, :required => true %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>
<% @message.comments.each do |comment| %>

  <p><div class="t-comment-<%= comment.id %>"> <%= simple_format comment.content %> </div>
  at <%= comment.created_at.to_s(:short) %> by <%= comment.user.display_name %>
  </p>
  <% if comment.user == current_user %>
    <%= link_to "Delete", message_comment_path(@message, comment), :method => :delete, :data => {:confirm => "Are u sure?"} %>
    <%= link_to "Edit", edit_message_comment_path(@message, comment), :remote=>true, :class=>"btn btn-warning" %>
    <% end %>
<% end %>
<%= link_to 'Back to index', messages_path %>


<script>




</script>


